sudo: false
language: elixir
elixir:
  - 1.1.1
services:
  - elasticsearch
notifications:
  email: false
  slack:
    rooms:
      - zatvobor:eLjCTZD2l85xl19hsSdxkMdN##oss-feed
    on_success: change
